
* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}   


header {
    background: #1D2D44;
    color: #EAF2F8;
    text-align: center;
    padding: 1rem;
}

main p {
    padding:5rem;
    font-size: 1.5rem;
}

footer {
    text-align: center;
}

