/* Larger Views*/

 @media (min-width: 740px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        margin-right: 2rem;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        
    }
}